<template name="usersRemove">
    <div class="cd-modal__header">
        <h1 class="cd-modal__title">Удаление</h1>
        <a class="cd-modal__close icon-close"></a>
    </div>
    <div class="cd-modal__content">
        <p>Вы действительно хотите удалить пользователя {{user.profile.last_name}} {{user.profile.first_name}} {{user.profile.path_name}}?</p>
    </div>
    <div class="cd-modal__footer">
        <button class="btn btn--danger" type="submit" id="remove">Удалить</button>
    </div>
</template>