<template name="users">
    <div class="app-page">
        <div class="app-page__header">
            <div>
                <h1 class="app-page__title">Сотрудники</h1>
                <p class="app-page__subtitle">Список сотрудников магазина</p>

                {{> modal}}
            </div>
            <div class="app-page__controls">
                <button class="modal btn btn--success" data-modal-template="usersAdd" id="add">Добавить</button>
                <button class="btn btn--primary" id="edit" disabled="{{buttonStateDisabled}}">Редактировать</button>
                <button class="btn btn--danger" id="remove" disabled="{{buttonStateDisabled}}">Удалить</button>
            </div>
        </div>
        <div class="app-page__content" id="users">
            {{> reactiveTable collection=users settings=settings}}
        </div>
    </div>
</template>