<template name="usersAdd">
    <div class="cd-modal__header">
        <h1 class="cd-modal__title">Добавление сотрудника</h1>
        <a class="cd-modal__close icon-close"></a>
    </div>
    <div class="cd-modal__content">
        <form>
            <div class="form-group">
                <label for="email">E-mail</label>
                <input class="form-control" type="email" id="email" placeholder="E-mail" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
            </div>
            <div class="form-group">
                <label for="fio">ФИО</label>
                <input class="form-control" type="text" id="fio" placeholder="ФИО" pattern="[А-ЯЁ][а-яё]+ [А-ЯЁ][а-яё]+ [А-ЯЁ][а-яё]+$" required>
            </div>
            <div class="form-group">
                <label for="role">Должность</label>
                <input class="form-control" type="text" id="role" placeholder="Должность" required>
            </div>
            <div class="form-group">
                <label for="stores">Магазины</label>
                {{#each allStores}}
                    <div class="checkbox" id="sid">
                        <label>
                            <input type="checkbox" name="stores" value="{{_id}}"> {{name}}
                        </label>
                    </div>
                {{/each}}
            </div>
            <div class="form-group">
                <label for="phone">Мобильный телефон</label>
                <input class="form-control" type="tel" id="phone" placeholder="+375xxxxxxxxx" pattern="^\+375\d{9}$" required>
            </div>
            <div class="form-group">
                <label for="flag">Права</label>
                <div class="checkbox">
                    <label>
                        <input name="flag" type="checkbox" value="1"> Просмотр сотрудников
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input name="flag" type="checkbox" value="2"> Просмотр движения товаров
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input name="flag" type="checkbox" value="4"> Добавление, редактирование и удаление категорий и товаров
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input name="flag" type="checkbox" value="8"> Фиксирование движения товаров
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input name="flag" type="checkbox" value="16"> Редактирование информации о сотрудниках
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input name="flag" type="checkbox" value="32"> Добавление, редактирование и удаление пользователей, магазинов и поставщиков
                    </label>
                </div>
            </div>
        </form>
    </div>
    <div class="cd-modal__footer">
        <button class="btn btn--success" type="submit">Добавить</button>
    </div>
</template>