<template name="users">
    <div class="app-page">
        <div class="app-page__header">
            <div>
                <h1 class="app-page__title">Сотрудники</h1>
                <p class="app-page__subtitle">Список сотрудников магазина</p>

                {{> modal}}
            </div>
            <div class="app-page__controls">
                <button class="modal btn btn--primary" data-modal-template="usersAdd">Modal Two</button>
            </div>
        </div>
        <div class="app-page__content">
            {{> reactiveTable settings=settings}}
        </div>
    </div>
</template>

<template name="usersTableActions">
    <button class="btn btn--primary">Редактировать</button>
</template>