<template name="usersAdd">
    <div class="cd-modal__header">
        <h1 class="cd-modal__title">Добавление сотрудника</h1>
        <a class="cd-modal__close icon-close"></a>
    </div>
    <div class="cd-modal__content">
        <form id="form-add">
            <div class="form-group">
                <label for="email">E-mail</label>
                <input class="form-control" type="email" id="email" placeholder="E-mail" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
            </div>
            <div class="form-group">
                <label for="fio">ФИО</label>
                <input class="form-control" type="text" id="fio" placeholder="ФИО" pattern="[А-ЯЁ][а-яё]+ [А-ЯЁ][а-яё]+ [А-ЯЁ][а-яё]+$" required>
            </div>
            <div class="form-group">
                <label for="role">Должность</label>
                <input class="form-control" type="text" id="role" placeholder="Должность" required>
            </div>
            <div class="form-group">
                <label for="stores">Магазины</label>
                {{#each allStores}}
                    <div class="checkbox" id="sid">
                        <label>
                            <input type="checkbox" name="stores" value="{{_id}}"> {{name}}
                        </label>
                    </div>
                {{/each}}
            </div>
            <div class="form-group">
                <label for="phone">Мобильный телефон</label>
                <input class="form-control" type="tel" id="phone" placeholder="+375xxxxxxxxx" pattern="^\+375\d{9}$" required>
            </div>
            <div class="form-group">
                <label for="flag">Права</label>
                <p style="margin-bottom: 8px"></p>
                <p style="font-weight: bold">Пользователи</p>
                <div class="checkbox">
                    <label>
                        <input name="flag" type="checkbox" value="1"> Просмотр пользователей
                    </label>
                </div>
                <p style="font-weight: bold">Единицы измерения</p>
                <div class="checkbox">
                    <label>
                        <input name="flag" type="checkbox" value="2"> Управление единицами измерения
                    </label>
                </div>
                <p style="font-weight: bold">Поставщики</p>
                <div class="checkbox">
                    <label>
                        <input name="flag" type="checkbox" value="4"> Просмотр поставщиков
                    </label>
                </div>
                <p style="font-weight: bold">Товары</p>
                <div class="checkbox">
                    <label>
                        <input name="flag" type="checkbox" value="8"> Управление товарами
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input name="flag" type="checkbox" value="16"> Управление категориями товаров
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input name="flag" type="checkbox" value="32"> Управление заказами товаров
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input name="flag" type="checkbox" value="64"> Просмотр движения товаров
                    </label>
                </div>
                <p style="font-weight: bold">Учёт</p>
                <div class="checkbox">
                    <label>
                        <input name="flag" type="checkbox" value="128"> Фиксирование прихода товара
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input name="flag" type="checkbox" value="256"> Фиксирование продажи товара
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input name="flag" type="checkbox" value="512"> Просмотр страницы продаж
                    </label>
                </div>
            </div>
        </form>
    </div>
    <div class="cd-modal__footer">
        <button class="btn btn--success" type="submit">Добавить</button>
    </div>
</template>