<template name="roles">
    <div class="roles">
        <table class="table">
            <tr>
                <th>Должность</th>
                <th>Флаг</th>
                <th>Системный</th>
            </tr>
            {{#each roles}}
                {{> roleItem}}
            {{/each}}
        </table>
        <br>
        <br>
        <a class="btn btn-default" href="roles/add" role="button">Добавить</a>
    </div>
</template>

<template name="roleItem">
    <tr>
        <td><a href="roles/edit/{{_id}}">{{rolename}}</a></td>
        <td>{{flags}}</td>
        <td>{{systemString}}</td>
    </tr>
</template>