<template name="editRoles">
    <div>
        <form id="editRoles-form">
            <div class="form-group">
                <input type="text" class="form-control" id="rolename" placeholder="Должность" value="{{rolename}}">
            </div>
            <div class="form-group">
                <label>Права</label>
                <div class="checkbox">
                    <label>
                        <input name="flag" type="checkbox" value="2">Просмотр списка поставщиков
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input name="flag" type="checkbox" value="4">Управление поставщиками
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input name="flag" type="checkbox" value="8">Просмотр и управление единицами измерений
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input name="flag" type="checkbox" value="16">Просмотр списка должностей
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input name="flag" type="checkbox" value="32">Управление списком должностей
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input name="flag" type="checkbox" value="64">Редактирование данных товара
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input name="flag" type="checkbox" value="128">Просмотр наценки товара
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input name="flag" type="checkbox" value="256">Просмотр движения товара
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input name="flag" type="checkbox" value="512">Возможность фиксировать продажу товара
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input name="flag" type="checkbox" value="1025">Возможность фиксировать приход
                    </label>
                </div>
            </div>
            <br>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input name="system" type="checkbox" value="">Системный
                    </label>
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-default" id="editRoles-button">Редактировать</button>
        </form>
    </div>
</template>

