<template name="header">
    <header class="header">
        <div class="header__logo">
            <img src="/logo.png" class="logotype">
        </div>
        <div class="header__container">
            <div class="header__stores">
                {{> storeSelect}}
            </div>
            <div class="header__controls">
                <ul class="header-nav">
                    <li class="header-nav__item">
                        <button id="exit">Выйти</button>
                        <a href="" class="header-nav__link"></a>
                    </li>
                    <li class="header-nav__item">
                        <a href="" class="header-nav__link"></a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
</template>