<template name="header">
    <header class="header">
        <div class="header__logo">

        </div>
        <div class="header__stores">

        </div>
        <div class="header__nav">
            <ul class="header-nav">
                <li class="header-nav__item">
                    <a href="#" class="header-nav__link icon-alert"></a>
                </li>
                <li class="header-nav__item">
                    <a href="#" class="header-nav__link icon-user"></a>
                </li>
            </ul>
        </div>
    </header>
</template>