@mixin transition($args...) {
    -webkit-transition: $args;
    transition: $args;
}

@mixin transform($val){
    -webkit-transform: $val;
    -moz-transform: $val;
    -ms-transform: $val;
    -o-transform: $val;
    transform: $val;
}

@mixin box-shadow($val) {
    -webkit-box-shadow: $val;
    -moz-box-shadow: $val;
    box-shadow: $val;
}