<template name="productsAccounting">
    <div class="app-page">
        <div class="app-page__header">
            <div>
                <h1 class="app-page__title">Товары</h1>
                <p class="app-page__subtitle">Список товаров магазина</p>

                {{> modal}}
            </div>
            <div class="app-page__controls">
                <button class="modal btn btn--success" data-modal-template="productsAdd">Добавить</button>
                <button class="btn btn--primary" id="edit" disabled="{{buttonStateDisabled}}">Редактировать</button>
                <button class="btn btn--danger" id="remove" disabled="{{buttonStateDisabled}}">Удалить</button>
            </div>
        </div>
        <div class="app-page__content">
            {{> reactiveTable collection=products settings=settingsProducts}}
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="app-page__header">
            <div>
                <h1 class="app-page__title">Учёт</h1>
                <p class="app-page__subtitle">Приход и расход товара</p>
            </div>
            <div class="app-page__controls">
                <button class="btn btn--primary" id="accountingComing" disabled="{{buttonStateDisabled}}">Приход</button>
                <button class="modal btn btn--primary" data-modal-template="accountingComing">Продажа</button>
            </div>
        </div>
        <div class="app-page__content">
            {{> reactiveTable collection=accounting settings=settingsAccounting}}
        </div>
    </div>
</template>

<template name="unitsForTable">
    {{#each units}}
        <p>{{short_name}}</p>
    {{/each}}
</template>