.header{
    position: relative;

    background: $header-background;
    height: $header-height;

    @include flex-box();
    @include justify-content(space-between);
    @include align-items(stretch);

    &__logo{
        background: darken($header-background, 3%);
        width: 90px;

        @include flex-box();
        @include align-items(center);
        @include justify-content(center);
    }

    .logotype{
        width: 31px;
        height: 32px;
    }

    &__container{
        @include flex-box();
        @include justify-content(space-between);
        @include align-items(stretch);
        @include flex-grow(1);

        padding: 0 25px;
    }

    &__stores{

    }

    &__controls{

    }
}