/* App */
$app-background:            #ffffff;
$app-dark-background:       #103f6e;

/* Colors */

$brand-primary:             #5f97fb;

$color-background:          #ffffff;

$color-font-base:           #34495e;
$color-font-light:          #95a5a6;

/* Typography */

$font-family-sans-serif:    'Roboto', sans-serif !default;
$font-family-base:          $font-family-sans-serif !default;

$font-size-root:            16px !default;
$font-size-base:            0.875em !default;

$font-weight-strong:		600 !default;
$font-weight-base:			400 !default;
$font-weight-light:			300 !default;

$line-height:               1.125rem !default;


/* Components */



/* Partials */

$header-height:             90px;
$header-background:         #103f6e;

$sidebar-width:             90px;
$sidebar-background:        #5f97fb;


/* Pages */

