.form{
    &-group{
        margin-bottom: 15px;

        label{
            display: inline-block;
            margin-bottom: 5px;
        }

        select {
            /*for WebKit*/
            -webkit-appearance: none;
            /* for FF */
            -moz-appearance: none;
            text-indent: 0.01px;
            text-overflow: '';
            /* for IE */
            -ms-appearance: none;
            appearance: none!important;
        }
    }

    &-control{
        display: block;
        height: 40px;
        width: 100%;

        border: 1px solid #D6DBDF;
        border-radius: 3px;
        outline: none;

        padding: 10px 20px;

        font-size: 14px;

        &:required{
            &:focus{
                &:invalid{
                    border-color: $brand-danger;
                }
            }

            &:valid{
                border-color: $brand-success;
            }
        }
    }
}