@font-face {
    font-family: 'icomoon';
    src:    url('/fonts/icomoon.eot');
    src:    url('/fonts/icomoon.eot') format('embedded-opentype'),
            url('/fonts/icomoon.ttf') format('truetype'),
            url('/fonts/icomoon.woff') format('woff'),
            url('/fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'icomoon';
    src:    url('https://i.icomoon.io/public/temp/8f8e06bd54/UntitledProject/icomoon.eot?gfvagu');
    src:    url('https://i.icomoon.io/public/temp/8f8e06bd54/UntitledProject/icomoon.eot?gfvagu#iefix') format('embedded-opentype'),
    url('https://i.icomoon.io/public/temp/8f8e06bd54/UntitledProject/icomoon.ttf?gfvagu') format('truetype'),
    url('https://i.icomoon.io/public/temp/8f8e06bd54/UntitledProject/icomoon.woff?gfvagu') format('woff'),
    url('https://i.icomoon.io/public/temp/8f8e06bd54/UntitledProject/icomoon.svg?gfvagu#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon-ic_credit_card_black_24px:before {
    content: "\e900";
}
.icon-ic_receipt_black_24px:before {
    content: "\e901";
}
.icon-ic_shop_black_24px:before {
    content: "\e902";
}
.icon-ic_timer_black_24px:before {
    content: "\e903";
}
.icon-close:before {
    content: "\e904";
}
.icon-settings:before {
    content: "\e905";
}
.icon-userlist:before {
    content: "\e906";
}
.icon-grid:before {
    content: "\e907";
}
.icon-briefcase:before {
    content: "\e908";
}
.icon-alert:before {
    content: "\e909";
}
.icon-cart:before {
    content: "\e90a";
}
.icon-user:before {
    content: "\e90b";
}
.icon-chat:before {
    content: "\e90c";
}


