.notify{
    position: absolute;
    z-index: 9999;
    right: 0;
    top: 0;


    width: 300px;

    &-message{
        @include animated();
        @include animation-name(fadeInUp);

        border-radius: 3px;
        padding: 20px 30px;

        font-weight: 300;
        color: #fff;
        margin: 10px 0;

        &--danger{
            box-shadow: 0px 0px 12px 0px rgba(255,32,0,0.50);
            background: #ff333E;
        }

        &--success{
            //box-shadow: 0px 0px 12px 0px rgba(255,32,0,0.50);
            background: rgb(111, 202, 54);
        }

        &--primary{
            //box-shadow: 0px 0px 12px 0px rgba(255,32,0,0.50);
            background: rgb(98, 153, 248);
        }

        //&--warning{
        //    //box-shadow: 0px 0px 12px 0px rgba(255,32,0,0.50);
        //    background: rgb(111, 202, 54);
        //}

    }
}


.notify{
    position: absolute;
}