<template name="productsAccounting">
    <div class="app-page app-store">
        <div class="app-store__categories">
            <h2 className="app-store__categories-title">Категории</h2>
            <div id="tree"></div>
        </div>
        <div class="app-page__box app-page__box--top">
            <div class="app-page__header">
                <div>
                    <h1 class="app-page__title">Товары</h1>
                    <p class="app-page__subtitle">Список товаров магазина</p>

                    {{> modal}}
                </div>
                <div class="app-page__controls" style="padding-right: 225px;">
                    {{#if access 64}}
                        <button class="btn btn--success" id="movement" disabled="{{buttonStateDisabled}}">Движение</button>
                    {{/if}}
                    {{#if access 8}}
                        <button class="modal btn btn--success" data-modal-template="productsAdd" id="add">Добавить</button>
                        <button class="btn btn--primary" id="edit" disabled="{{buttonStateDisabled}}">Редактировать</button>
                        <button class="btn btn--danger" id="remove" disabled="{{buttonStateDisabled}}">Удалить</button>
                    {{/if}}
                </div>
            </div>
            <div class="app-page__content" id="products">
                {{> reactiveTable collection=products settings=settingsProducts rowsPerPage=5}}
            </div>
        </div>
        <div class="app-page__box app-page__box--bottom">
            <div class="app-page__header">
                <div>
                    <h1 class="app-page__title">Учёт</h1>
                    <p class="app-page__subtitle">Приход и расход товара</p>
                </div>
                <div class="app-page__controls">
                    {{#if access 16}}
                        <button class="btn btn--success" id="productOrder" disabled="{{buttonStateDisabled}}">Заказ</button>
                    {{/if}}
                    {{#if access 128}}
                        <button class="btn btn--primary" id="accountingComing" disabled="{{buttonStateDisabled}}">Приход</button>
                    {{/if}}
                    {{#if access 256}}
                        <button class="btn btn--primary" id="accountingSale" disabled="{{buttonStateDisabled}}">Продажа</button>
                    {{/if}}
                    {{#if admin}}
                        <button class="btn btn--danger" id="removeAccounting" disabled="{{buttonStateDisabledAcc}}">Удалить</button>
                    {{/if}}
                </div>
            </div>
            <div class="app-page__content" id="accounting">
                {{> reactiveTable collection=accounting settings=settingsAccounting rowsPerPage=5}}
            </div>
        </div>
    </div>
</template>