<template name="storesEdit">
    <div class="cd-modal__header">
        <h1 class="cd-modal__title">Редактирование данных</h1>
        <a class="cd-modal__close icon-close"></a>
    </div>
    <form id="form-storesEdit">
        <div class="cd-modal__content">
            <div class="form-group">
                <label for="name">Название</label>
                <input class="form-control" type="text" id="name" value="{{store.name}}" placeholder="Название" required>
            </div>
            <div class="form-group">
                <label for="name">Адрес</label>
                <input class="form-control" type="text" id="address" value="{{store.address}}" placeholder="Адрес" required>
            </div>
        </div>
        {{#each users}}
            <p>{{_id}}</p>
        {{/each}}
        <div class="cd-modal__footer">
            <button class="btn btn--primary" type="submit">Изменить</button>
        </div>
    </form>
</template>