<template name="sidebar">
    <div class="sidebar">
        <ul class="sidebar-nav">
            <li class="sidebar-nav__item {{activeRouteClass 'dashboard'}}">
                <a href="{{pathFor 'dashboard'}}" class="sidebar-nav__link icon-grid"></a>
            </li>
            <li class="sidebar-nav__item {{activeRouteClass 'productsAccounting'}}">
                <a href="{{pathFor 'productsAccounting'}}" class="sidebar-nav__link icon-grid"></a>
            </li>
            <li class="sidebar-nav__item {{activeRouteClass 'stores'}}">
                <a href="{{pathFor 'stores'}}" class="sidebar-nav__link icon-cart"></a>
            </li>
            <li class="sidebar-nav__item {{activeRouteClass 'providers'}}">
                <a href="{{pathFor 'providers'}}" class="sidebar-nav__link icon-briefcase"></a>
            </li>
            <li class="sidebar-nav__item {{activeRouteClass 'users'}}">
                <a href="{{pathFor 'users'}}" class="sidebar-nav__link icon-userlist"></a>
            </li>
            <li class="sidebar-nav__item sidebar-nav__item--disabled {{activeRouteClass 'chats'}}">
                <a href="#" class="sidebar-nav__link icon-chat"></a>
            </li>
        </ul>
        <ul class="sidebar-nav">
            <li class="sidebar-nav__item sidebar-nav__item--disabled">
                <a href="#" class="sidebar-nav__link icon-settings"></a>
            </li>
        </ul>
    </div>
</template>
