<template name="providers">
    <div class="app-page">
        <div class="app-page__header">
            <div>
                <h1 class="app-page__title">Компании</h1>
                <p class="app-page__subtitle">Список поставщиков компании</p>

                {{> modal}}
            </div>
            <div class="app-page__controls">
                <button class="modal btn btn--primary" data-modal-template="providersAdd">Добавить</button>
            </div>
        </div>
        <div class="app-page__content">

            {{> reactiveTable collection=providers settings=settings}}
        </div>
    </div>
</template>

<template name="providersTableActions">
    <button class="btn btn--primary" id="edit">Редактировать</button>
    <button class="btn btn--danger" id="remove">Удалить</button>
</template>