<template name="reset">
    <div class="app-box login">
        <form id="form-forgot">
            <div class="app-box__header">
                <h1>Сброс пароля</h1>
                <p>Укажите новый пароль</p>
                {{ test }}
            </div>
            <div class="app-box__content">
                <div class="form-group">
                    <input class="form-control" type="password" id="pass" required>
                </div>
            </div>
            <div class="app-box__footer">
                <button class="btn btn--primary" type="submit">Изменить</button>
                <a class="btn btn--light" href="{{pathFor 'login'}}">Вернуться</a>
            </div>
        </form>
    </div>
</template>