<template name="header">
    <nav class="nav nav-pills nav-justified" role="navigation">
        <div class="navbar-header">
            <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="{{pathFor 'home'}}">DIPLOM</a></li>
                {{#if currentUser}}
                    <li role="presentation"><a href="{{pathFor 'users'}}">Users</a></li>
                    <li role="presentation"><a href="{{pathFor 'roles'}}">Должности</a></li>
                    <li role="presentation"><a href="{{pathFor 'register'}}">Регистрация</a></li>
                    <li role="presentation"><a href="{{pathFor 'home'}}" id="logout">Выйти</a></li>
                {{else}}
                    <li role="presentation"><a href="{{pathFor 'login'}}">Войти</a></li>
                {{/if}}
            </ul>
        </div>
    </nav>
</template>